{%  load static %}
 <!--================================= bg-overlay-white-97
          footer-->
          <footer class="footer">
            <div class="space-ptb " style="background:url(../static/cta-bg.png);">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="footer-contact-info">
                      <div class="footer-logo mb-2">
                        <a href="{% url 'index:home' %}">
                          <img class="img-fluid" width="200px" src="{% static 'images/logo/logo.PNG' %}" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                    <h5 class="footer-title">Explore</h5>
                    <div class="footer-link">
                      <ul class="list-unstyled mb-0">
                        <li><a href="{%  url 'index:home'  %}">Home</a></li>
                        <li><a href="{%  url 'index:about'  %}">About us</a></li>
                        <li><a href="{%  url 'index:course'  %}">Course</a></li>
                        <li><a href="{%  url 'index:blog'  %}">Blog</a></li>
                        
                      </ul>
                      <ul class="list-unstyled mb-0">
                        <li><a href="{%  url 'index:information' %}">information</a></li>
                        <li><a href="{%  url 'index:excos' %}">Excos</a></li>
                        <li><a href="{%  url 'index:shop' %}">Shop</a></li>
                        <li><a href="{%  url 'index:contact'  %}">Contact us</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
                    <h5 class="footer-title">Resources</h5>
                    <div class="footer-link">
                      <ul class="list-unstyled mb-0">
                        <li><a href="{% url 'index:pen'  %}">Pay of Pans Dues</a></li>
                        <li><a href="{% url 'index:pen'  %}">Pans IDE CARD</a></li>
                        <li><a href="{% url 'index:accommodation'  %}">Accommodation</a></li>
                        <!-- <li><a href="#">Tutor Me</a></li>
                        <li><a href="#"></a></li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3 text-white">
                    <h5 class="footer-title">Subscribe us</h5>
                    <p>Sign up to our newsletter to get the latest news and offers.</p>
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email*">
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom bg-light">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="social-icon text-md-left text-center mb-3 mb-md-0">
                      <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="copyright text-md-right text-center">
                      <p class="mb-0 ">© Copyright 2021  All Rights Reserved. Powered By <a href="https://www.dexnovate.com/">Dexnovate</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!--=================================
          footer-->

          <!--=================================
          Back To Top -->
          <div id="back-to-top" class="back-to-top">
            <a href="#"><i class="fas fa-chevron-up"></i></a>
          </div>
          <!--=================================
          Back To Top -->